### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea

### Maven ###
target/
pom.xml

**/src/main/resources/application.properties
**/src/main/resources/application.yml
**/src/main/resources/application.yaml

